.svn
.DS\_Store
*.swp
*.ipr
*.iws
*.iml
*.db
*.log
*.class
*.classpath
*.settings
*.project
.idea
log
.gradle
target/
~
*.jar


/patcha_demo0.png
/patcha_demo1.png
/patcha_demo2.png
/patcha_demo3.png
/patcha_demo4.png
